.Question_Container {
  border: 1px solid black;
  border-radius: 15px;
  width: 60%;
  height: 40%;
  position: absolute;
  left: 50%;
  top: 60%;
  margin: -20% 0 0 -30%;
  text-align: center;
  font-size: 16px;
}

.Answer_List {
  list-style-type: lower-alpha;
  list-style-position: inside;
}

.Answer_List li {
}

.Answer {
  width: 500px;
  height: 40px;
  font-size: 16px;
}
