.Nav_Container {
  width: 100%;
  height: 100px;
  background-color: #555;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
}

.Nav_Logo {
  width: 150px;
  height: 72.75px;
  position: absolute;
  top: 10px;
  left: 10px;
}
